<!DOCTYPE html>
<html>
<head>
  <title>Ventana con EJS</title>
  <link rel="stylesheet" type="text/css" href="agrNotif.css">
</head>
<body>
    <form action = "" method = "post">
        <div>
            <button class = "salir" id = "btnSalir" formaction = "salirAgrNotif">Salir</button>
        </div>
    </form>
  <div class="container">
    <h2>Agregar notificacion</h2>
    <form action = "" method="post">
      <input type="text" name="texto" placeholder="Ingrese el texto">
      <button class = "salir" id = "btnAgregar" formaction = "enviarNotif">Agregar</button>
    </form>
  </div>
</body>
</html>
