<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "style.css">
    <title>Comentarios</title>
</head>
<body>
  <h1>Comentarios</h1>

  <h2 class = "tituloComen">Comentarios anteriores:</h2>

  <div class = "containerDatos" style = "overflow-y: scroll;">
    <% if (comentarios.length === 0) { %>
      <p>No hay comentarios aún.</p>
    <% } else { %>
      <% comentarios.forEach(function(comentario) { %>
        <p><strong><%= comentario.nombre %></strong>: <%= comentario.mensaje %></p>
      <% }); %>
    <% } %>
  </div>


  <form action="/comentarios" method="POST">

    <label class = "tituloComen" id = "mensajeTxt" for="mensaje">Mensaje:</label><br>
    <textarea id = "mensaje" name = "mensaje" rows = "4" cols = "50" required></textarea><br><br>

    <input class = "submitComentario" type = "submit" value = "Enviar">
  </form>

</body>
</html>
