<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "style.css">
</head>
<body class = "datosProfBd">
    <div class = "containerAgregarActividad">
        <form action = "datosActRes" method = "post">
            <div>
                <label class = "textoAct" id = "textoSemana" name = "textoSemana" for = "entrySemana">
                    Semana:
                </label>
                <input class = "entryAct" type = "text" id = "entrySemana" name = "entrySemana">
            </div>
            <div>
                <label class = "textoAct" id = "textoTipo" name = "textoTipo" for = "entryTipo">
                    Tipo:
                </label>
                <select class = "listBoxAct" id = "tipoActLB" name = "tipoActLB">
                    <option value = "0">Seleccionar</option>
                    <option value = "1">Orientadora</option>
                    <option value = "2">Motivacional</option>
                    <option value = "3">Apoyo vida estudiantil</option>
                    <option value = "4">Orden técnico</option>
                    <option value = "5">Recreación</option>
                </select>
            </div>
            <div>
                <label class = "textoAct" id = "textoNombre" name = "textoNombre" for = "entryNombre">
                    Nombre:
                </label>
                <input class = "entryAct" type = "text" id = "entryNombre" name = "entryNombre">
            </div>
            <div>
                <label class = "textoAct" id = "textoFecha" name = "textoFecha" for = "entryFecha">
                    Fecha:
                </label>
                <input class = "entryAct" type = "text" id = "entryFecha" name = "entryFecha">
            </div>
            <div>
                <label class = "textoAct" id = "textoHora" name = "textoHora" for = "entryHora">
                    Hora:
                </label>
                <input class = "entryAct" type = "text" id = "entryHora" name = "entryHora">
            </div>
            <div>
                <label class = "textoAct" id = "textoFechaP" name = "textoFechaP" for = "entryFechaP">
                    Fecha de publicación:
                </label>
                <input class = "entryAct" type = "text" id = "entryFechaP" name = "entryFechaP">    
            </div>
            <div>
                <label class = "textoAct" id = "textoRes" name = "textoRes" for = "entryRes">
                    Responsables:
                </label>
                <input class = "entryAct" type = "text" id = "entryRes" name = "entryRes">
            </div>
            <div>
                <label class = "textoAct" id = "textoModalidad" name = "textoModalidad" for = "entryModalidad">
                    Modalidad:
                </label>
                <select class = "listBoxAct" id = "tipoActLB" name = "tipoActLB">
                    <option value = "0">Seleccionar</option>
                    <option value = "1">Presencial</option>
                    <option value = "2">Virtual</option>
                </select>
            </div>
            <div>
                <label class = "textoAct" id = "textoEnlace" name = "textoEnlace" for = "entryEnlace">
                    Enlace:
                </label>
                <input class = "entryAct" type = "text" id = "entryEnlace" name = "entryEnlace">
            </div>
            <div>
                <label class = "textoAct" id = "textoFoto" name = "textoFoto" for = "entryFoto">
                    Fotografía:
                </label>
                <input class = "entryAct" type = "text" id = "entryFoto" name = "entryFoto">
            </div>
            <div>
                <label class = "textoAct" id = "textoEstado" name = "textoEstado" for = "entryEstado">
                    Estado:
                </label>
                <select class = "listBoxAct" id = "tipoActLB" name = "tipoActLB">
                    <option value = "0">Seleccionar</option>
                    <option value = "1">Planeada</option>
                    <option value = "2">Notificada</option>
                    <option value = "3">Realizada</option>
                    <option value = "4">Cancelada</option>
                </select>
                <button type = "submit" id = "guardarAct" name = "guardarAct" onclick = "alert('Guardado con éxito!')">Guardar</button>
            </div>
        </form>
    </div>
</body>
</html>