<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" href = "style.css">
</head>

<form class = "formSalirALoginEst" method = post>
	<div>
		<button class = "btnSalir1" id = "salirLoginEst" name = "salirLoginEst" 
		formaction = "salirLogin">
			Salir
		</button>
	</div>
</form>

<body>
	<h1>Estudiantes</h1>
	<form action = "formEstudiantes" method = "post">
		<div>
			<button class = "botonesEst" id = "verPerfilEst" formaction = "perfilEst">Ver perfil</button>
			<button class = "botonesEst" id = "verActEst" formaction = "actEst">Ver actividades</button>
			<button class = "botonesEst" id = "modCelular" formaction = "modCelEst">Modificar celular</button>
			<button class = "botonesEst" id = "buzNotEst" formaction = "buzonEst">Buzón de notificaciones</button>
		</div>
	</form>
</body>


</html>