<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" href = "style.css">
</head>

<body>
	<h1>Estudiantes</h1>
	<div>
		<button class = "botonesEst" id = "verPerfilEst" formaction = "">Ver perfil</button>
		<button class = "botonesEst" id = "verActEst" formaction = "">Ver actividades</button>
		<button class = "botonesEst" id = "modCelular" formaction = "">Modificar celular</button>
		<button class = "botonesEst" id = "buzNotEst" formaction = "">Buzón de notificaciones</button>
	</div>

</body>


</html>