<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <div>
        <% if (clave == 1) {%>
            <label class = "tituloGestion">INFORMACION ESTUDIANTES DEL CAMPUS</label>
        <% } if (clave == 2) { %>
            <label class = "tituloGestion">GESTION DE INFORMACION DE PROFESORES GUIA</label>
        <% } %>
    </div>
</body>
</html>