<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
	<form class = "formLogin" action = "validarDatos" method = "post">
		<h1>Login</h1>
		<label for="user">Correo electronico</label>
		<input type="text" id="user" name="user" placeholder="Ingrese usuario" required>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" placeholder="Ingrese contraseña" required>
		<input type="submit">
	</form>
</body>
</html>