<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Notificaciones</title>
    <link rel="stylesheet" type="text/css" href="notificacion.css">
</head>

<body>
    <form action = "" method = "POST">
        <button class = "salir" id = "btnSalir" name = "btnSalir" formaction = "salirNotif">
            Salir
        </button>
        <button class = "btnElimNotif" id = "btnElimNotif" name = "btnElimNotif" formaction = "eliminarTodasNotif">
            Eliminar notificaciones
        </button>
        <button class = "btnAgregarNotif" id = "agrNotif" name = "agrNotif" 
        formaction = "agrNotif">
            Agregar notificacion
        </button>
    </form>
    <div class="container">
        <h1>Notificaciones</h1>
        <ul>
            <% notificaciones.forEach(function(notificacion) { %>
                <li <% if (notificacion.leido) { %>class = "leido"<% } %>>
                    <%= notificacion.mensaje %>
                        <form action = "" method = "POST">
                            <div class = "containerBtns">
                                <% if (!notificacion.leido) { %>
                                    <button class = "notifBtn" name = "btnLeido" value = "<%= notificacion.id %>" formaction = "marcarLeido">
                                        Marcar como leída
                                    </button>
                                <% } if (notificacion.leido) { %>
                                    <button class = "notifBtn" name = "btnNoLeido" value = "<%= notificacion.id %>" formaction = "marcarNoLeido">
                                        Marcar como no leída
                                    </button>
                                <% } %>
                                    <button class = "notifBtn" name = "btnEliminar" value = "<%= notificacion.id %>" formaction = "delNotif">
                                        Eliminar
                                    </button>
                            </div>
                        </form>
                </li>
                <% }); %>
        </ul>
    </div>
</body>

</html>