<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <form class = "formSalirALogin" method = post>
        <div>
            <button class = "formGest" id = "salirSelMod" name = "salirSelMod" 
            formaction = "salirLogin">
                Salir
            </button>
            <label class = "tituloSelMod">Seleccione el módulo</label>
        </div>
    </form>
    <form class = "formGest" method = "post"></form>
    <div>
        <form class = "formGest" method = "post">
            <button class = "botonesMod" id = "gestionEst" formaction = "gestionarEst">Gestion de estudiantes</button>
            <button class = "botonesMod" id = "gestionProf" formaction = "gestionarProf">Gestion de profesores</button>
        </form>
    </div>
    <div>
        <form class = "formGest" method = "post">
            <button class = "botonConfGrGuia" id = "confGrGuia" name = "confGrGuia" formaction = "gestionarGuias">
                Conformacion de grupo guia
            </button>
            <button class = "botonPlanTrabajo" id = "btnPlanTrabajo" name = "btnPlanTrabajo" formaction = "gestionPlanTrabajo">
                Gestion de plan de trabajo
            </button>
        </form>
    </div>
</body>
</html>