<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <form class = "formSalirALogin" method = post>
        <div>
            <button class = "btnAgregarNotif" id = "agrNotif" name = "agrNotif" 
            formaction = "agrNotif">
                Agregar notificacion
            </button>
            <button class = "btnSalir1" id = "salirSelMod" name = "salirSelMod" 
            formaction = "salirLogin">
                Salir
            </button>
            <label class = "tituloSelMod">Seleccione el módulo</label>
        </div>
    </form>
    <form class = "formGest" method = "post"></form>
    <div>
        <form class = "formGest" method = "post">
            <% if (clave == 1) { %>
                <button class = "botonesMod" id = "gestionBtn" formaction = "gestionarEst">Gestion de estudiantes</button>
            <% } if (clave == 2) { %>
                <button class = "botonesMod" id = "gestionBtn" formaction = "gestionarProf">Gestion de profesores</button>
            <% } %>
            <button class = "botonesMod" id = "btnPlanTrabajo" name = "btnPlanTrabajo" formaction = "gestionPlanTrabajo">
                Gestion de plan de trabajo
            </button>
        </form>
    </div>
    <div>
        <form action = "" method = "post">
            <button class = "botonesMod" id = "btnBuzon" formaction = "buzonEst">Ver notificaciones</button>
        </form>
    </div>
    <div class = "contenedorSuscripcion">
        <p class = "subsTxt">
            Seleccione una opción según su preferencia.
        </p>
        <form action = "" method = "post">
            <button class = "suscripcion" id = "btnDesubs" name = "btnDesubs" formaction = "btnDesubsSelMod">
                Desuscribirse
            </button>
            <button class = "suscripcion" id = "btnSubs" name = "btnSubs" formaction = "btnSubsSelMod">
                Suscribirse
            </button>
        </form>
    </div>
    <div>
        <form class = "formGest" method = "post">
            <button class = "botonConfGrGuia" id = "confGrGuia" name = "confGrGuia" formaction = "gestionarGuias">
                Conformacion de grupo guia
            </button>
        </form>
    </div>
</body>
</html>