<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <div>
        <label class = "tituloSelMod">Seleccione el módulo</label>
    </div>
    <div>
        <form class = "formGest" method = "post">
            <button class = "botonesMod" id = "gestionEst" formaction = "gestionarEst">Gestion de estudiantes</button>
            <button class = "botonesMod" id = "gestionProf" formaction = "gestionarProf">Gestion de profesores</button>
        </form>
    </div>
    <div>
        <button class = "botonConfGrGuia" id = "confGrGuia">Conformacion de grupo guia</button>
    </div>
</body>
</html>