body {
    background-image: url("LoginFondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: azure;
}

.formLogin {
    display: block;
    position: center;
    background-color: rgb(219, 239, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 10px #999;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

h1 {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #464646;
}

.loginTxt {
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="password"] {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #999;
    height: 25px;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
}

input[type="submit"] {
    background-color: #4b96b0;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #999;
    color: #fff;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-top: 20px;
    transition: background-color 0.5s ease;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #005A7F;
}

.tituloSelMod {
    background-color: azure;
    font-size: xx-large;
    margin-left: 36%;
    margin-right: 40%;
    margin-top: 100px;
    width: 900px;
}

.botonesMod {
    position: absolute;
    background-color: #4b96b0;
    height: 75px;
    width: 250px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    box-shadow: 0px 0px 5px #999;
    margin-top: 100px;
}

.botonesMod:hover {
    background-color: #005A7F;
}

#gestionBtn {
    margin-left: 25%;
}

.botonConfGrGuia {
    background-color: #4b96b0;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    box-shadow: 0px 0px 5px #999;
    margin-top: 500px;
    position: absolute;
    left: 80%;
    top: 25%;
}

#btnPlanTrabajo {
    margin-left: 60%;
}

.botonConfGrGuia:hover {
    background-color: #005A7F;
}

.gestionBd {
    margin-top: 1%;
}

.tituloGestion {
    font-size: xx-large;
    font: bold;
    font-family: Arial;
    flex-shrink: 0;
}

.btnSalir1 {
    width: 75px;
    background-color: #4b96b0;
    border-radius: 10px;
    height: 40px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    float: right;
}

.btnSalir1:hover {
    background-color: #005A7F;
}

.columna1 {
    position: fixed;
    float: left;
    width: 100%;
    height: 575px;
}

.columna2 {
    position: fixed;
    width: 38%;
    margin-left: 61%;
    top: 60px;
}

.estudLB {
    background-color: rgb(186, 225, 222);
    border-radius: 0px;
    margin-top: 4%;
    width: 60%;
    height: 100%;
    border: 1px solid;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px #999;
}

.estudLB table {
    width: 100%;
    border-collapse: collapse;
}

.tablaHeader{
    font-family: Arial;
    font-size: medium;
}

th {
    border: 1px solid;
    width: 25%
}

tr {
    height: 0px;
}

.divInfo {
    height: 550px;
    font-family: Arial;
    font-size: medium;
    overflow-y: scroll;
}

.divInfo td {
    width: 26%;
    cursor: pointer;
}

.botonesEst {
    margin-top: 10%;
    background-color: #4b96b0;
    border-radius: 10px;
    height: 40px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    box-shadow: 0px 0px 10px #999;
}

.botonesEst:hover {
    background-color: #005A7F;
}

#botonOrdenEst {
    width: 100px;
}

#btnGenExcel {
    position: absolute;
    width: 200px;
    margin-top: 225px;
    margin-left: 150px;
}

#btnImpExcel {
    position: absolute;
    margin-top: 360px;
    margin-left: 155px;
}

#btnImpExcel2 {
    position: absolute;
    margin-top: 400px;
    margin-left: 155px;
}

#btnModEst {
    position: absolute;
    margin-top: 500px;
    margin-left: 25px;
}

.sedeTxt, .sedesLB {
    position: absolute;
    margin-top: 170px;
    font-family: Arial;
    font-size: x-large;
    margin-left: 75px;
}

.sedesLB {
    border-radius: 5px;
    margin-left: 150px;
    width: 250px;
    box-shadow: 0px 0px 10px #999;
}

.excelTxt {
    position: absolute;
    margin-top: 358px;
    font-family: Arial;
    font-size: x-large;
}

.botonesProf {
    margin-top: 10%;
    background-color: #4b96b0;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    box-shadow: 0px 0px 10px #999;
}

.botonesProf:hover {
    background-color: #005A7F;
}

#btnNuevoProfGuia {
    margin-top: 20%;
    margin-left: 30%;
}

#btnModProfGuia {
    margin-top: 4%;
    margin-left: 30%;
}

#btnBajaProfGuia {
    margin-top: 4%;
    margin-left: 30%;
}

#btnDefProfGuia {
    margin-top: 4%;
    margin-left: 30%;
}

.containerDatos {
    display: block;
    position: center;
    background-color: rgb(219, 239, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 10px #999;
    padding: 20px;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.textoDatos {
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: x-large;
    margin-top: 13px;
    width: 225px;
    text-align: right;
}

.entryDatos[type="text"] {
    font-family: Arial;
    font-size: x-large;
    margin-top: 10px;
    margin-left: 240px;
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
}

.botonDatos {
    background-color: #4b96b0;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    box-shadow: 0px 0px 10px #999;
    position: absolute;
    margin-left: 240px;
    margin-top: 7px;
}

.botonDatos:hover {
    background-color: #005A7F;
}

#guardar {
    background-color: #4b96b0;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    box-shadow: 0px 0px 10px #999;
    position: absolute;
    margin-left: 450px;
    margin-top: 50px;
}

#guardar:hover {
    background-color: #005A7F;
}

#btnDefProfCoord {
    background-color: #4b96b0;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    box-shadow: 0px 0px 10px #999;
    position: absolute;
    margin-left: 150px;
    margin-top: 100px;
}

#btnDefProfCoord:hover {
    background-color: #005A7F;
}

.actLB {
    background-color: rgb(186, 225, 222);
    border-radius: 10px;
    border-width: 0px;
    margin-top: 4%;
    width: 60%;
    height: 100%;
    box-shadow: 0px 0px 10px #999;
}

.botonesAct {
    margin-top: 10%;
    background-color: #4b96b0;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    box-shadow: 0px 0px 10px #999;
}

.botonesAct:hover {
    background-color: #005A7F;
}

#btnNuevaAct {
    margin-top: 20%;
    margin-left: 30%;
}

#btnMarcarRealizada {
    margin-top: 4%;
    margin-left: 30%;
}

#btnCancelarAct {
    margin-top: 4%;
    margin-left: 30%;
}

#btnPublicAct {
    margin-top: 4%;
    margin-left: 30%;
}

.containerAgregarActividad {
    display: block;
    position: center;
    background-color: rgb(219, 239, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 10px #999;
    padding: 20px;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.textoAct {
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: x-large;
    margin-top: 4px;
    text-align: left;
}

.entryAct[type="text"] {
    font-family: Arial;
    font-size: x-large;
    margin-top: 1px;
    margin-left: 240px;
    background-color: #fff;
    border-radius: 5px;
    width: 500px;
}

#guardarAct {
    background-color: #4b96b0;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    box-shadow: 0px 0px 10px #999;
    position: absolute;
    margin-left: 400px;
}

#elementosTabla {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

#elementosTabla:checked {
    border: 6px solid black;
}

#btnComentario {
    margin-top: 200px;
    margin-left: 100px;
    width: 20%;
}

#mensaje {
    display: block;
    position: center;
    border-width: 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #999;
    padding: 20px;
    width: 600px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    
    overflow-y: scroll;
}

.tituloComen {
    margin-top: 50px;
    font-family: Arial;
    margin-left: 25%;
    font-size: x-large;
}

#mensajeTxt {
    position:absolute;
    margin-top: 25px;
}

.submitComentario {
    background-color: #4b96b0;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    transition: background-color 0.5s ease;
    font-size: large;
    color: white;
    box-shadow: 0px 0px 10px #999;
    position: absolute;
    margin-top: 50px;
    margin-left: 60%;
}

.submitComentario:hover {
    background-color: #005A7F;
}

.listBoxAct {
    background-color: rgb(186, 225, 222);
    border-radius: 0px;
    width: 200px;
    height: 40px;
    border: 0px;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px #999;
    font-family: Arial;
    font-size: x-large;
    margin-left: 240px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}